*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.card{
    width: 40%;
    margin:auto;
    border-radius: 0% 15% 0% 15%;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.541);;
}
.student{
    position: absolute;
    background-color: firebrick;
    color: white;
}
img{
    width: 100%;
}
.divide{
    height: 8px;
    background-color: firebrick;
    padding: 0;
    margin: 0;
}
.text{
    padding: 6%;
}
.text h1,
.text h2,
.text p{
    margin-bottom: 8px;
}